@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'DungGeunMo';
  src: url('./assets/fonts/DungGeunMo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


* {
  box-sizing: border-box;
}


html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: sans-serif;
}

body {
  font-family: 'DungGeunMo', sans-serif;
}

button,
input,
textarea,
select {
  font-family: inherit;
}